<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>




    <h1>Taches</h1>

    <div id="collections">
        {% for collection in collections %}
            {% include "taches/collection.html" with collection=collection %}

        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}

        <input type="text" name="collection-name">
        <button hx-post="{% url 'add-collection' %}" hx-target="#collections" hx-swap="beforeend"
            type="submit">Ajouter</button>
    </form>


    <form method="post">
        {% csrf_token %}
        <input type="text" name="tache-description">
        <button type="submit" 
                hx-post="{% url 'add-tache' %}" 
                hx-target="#taches" 
                hx-swap="beforeend" 
                hx-vals="js:{collection: getCollectionFormURL()}">
            Ajouter
        </button>
    </form>

    

    <div id="taches">
        {% include "taches/taches.html" with taches=taches collection=collection %}
    </div>

    <script>
        document.body.addEventListener("htmx:responseError", function (evt) {
            alert(evt.detail.xhr.responseText);
        })

        function getCollectionFormURL() {
            let url = new URL(window.location.href);
            let searchParams = url.searchParams;
            return searchParams.get('collection');
        }

    </script>
</body>

</html>
